.footer{
    &__container{
        height: 2rem;
        background-color: #61321b;
        display: flex;
        align-items: center;
        color: #fff;
    }
}

.copyright{
    font-size: larger;
    margin: 0 auto;
}
